.bookName {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    white-space: pre-wrap;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.bookPrice {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
